# ===== System =====
.DS_Store
Thumbs.db

# ===== Env files =====
.env
.env.*
!.env.example
auth.json

# ===== IDEs =====
.vscode/
.idea/
.fleet/
.nova/
.zed/

# ===== Python =====
**/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
pip-log.txt

# ===== Logs =====
*.log

# ===== PHP / Laravel =====
.phpactor.json
.phpunit.result.cache
.phpunit.cache/
_ide_helper.php

# Laravel / build
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml

# Node
node_modules/